@import url(../App.css);

.section2 {
    font-family: var(--primaryfont);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    position: relative;
    align-items: stretch;
}

.con-sticky {
    width: 25vw;
    height: auto;
    flex: 1;
    flex-shrink: 0;
    padding: 1rem 0 0 1rem;
}

.sticky {
    position: sticky;
    display: flex;
    padding-top: 2rem;
    justify-content: flex-start;
    overflow: hidden;
    height: calc(100svh - 2rem);
    flex-direction: column;
    background-color: transparent;
    top: 1rem;
    border-radius: 1rem;
    border: var(--border-width) solid var(--border);
}



.sticky-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border);
    position: relative;
    flex-direction: row-reverse;
}

.sticky-header .con-nama {
    background-color: red;
}

.sticky #namamu {
    font-family: var(--secondfont);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button);
    display: inline-block;
    flex: 1;
    margin: 0;
    font-size: 2rem;
    width: fit-content;
    line-height: 1;
    letter-spacing: 1px;
}

.sticky #namamu span {
    opacity: 0.3;
    font-size: 2rem;
}

.bio {
    width: calc(100%);
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: space-around;
    color: var(--button);
    height: fit-content;
    z-index: 2;
    padding-inline: 30px;
    padding-bottom: 30px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    max-height: 20vh;
    gap: 0.5rem;
}

.mySkills {
    flex: 1;
    flex-grow: 1;
}


.box-skill {
    width: fit-content;
    height: fit-content;
    font-size: 0.8rem;
    background-color: var(--border);
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    color: var(--button);
    font-weight: 800;
    font-family: var(--secondfont);
    text-transform: uppercase;

}

.con-hire-me {
    width: 100%;
    display: flex;
    /* display: none; */
    height: 62px;
    position: absolute;
    bottom: 0;
    gap: 10px;
}



.con-hire-me a {
    height: 100%;
}



@media (max-width:767px) {
    .con-hire-me {
        height: 62px;
        position: relative;
        bottom: 0;
        margin-top: 30px;
    }

    .con-hire-me a {
        margin: 0;
    }
}

.contactme {
    color: var(--primary);
    font-family: var(--secondfont);
    width: 100%;
    height: 62px;
    font-size: 1rem;
    background-color: var(--blue);
    display: grid;
    place-items: center;
    border-top: 1px solid var(--border);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.con-hire-me:hover .contactme {
    color: var(--primary);
    background-color: var(--blue);
}

.bio h1 {
    font-size: 1rem;
    font-weight: 800;
    margin-block: calc(2vh);
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: var(--button);
    text-transform: uppercase;
    font-family: var(--secondfont);
}

.skills-ttl {
    margin-block: 0;
}

.bio h1 span {
    font-size: 1rem;
    color: var(--red-cl);
    display: inline-block;
    margin-left: 0.5rem;
}

.list-bio {
    list-style: none;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: var(--border-width) solid var(--border);
    overflow: hidden;
    background-color: var(--primary25);
    justify-content: space-between;
}

.title-bio i {
    font-size: 1rem;
}

.bio .list-bio li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border);
    color: var(--button);
    overflow: hidden;
    height: 3rem;
}

.bio .list-bio li:nth-child(1) {
    border-top: 0;
}

@media (max-width:1083px) {
    .bio .list-bio li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width:767px) {

        .sticky-header {
            margin-bottom: 0;
        }

        .bio {
            margin: 0;
        }

        .bio .list-bio li {
            flex-direction: row;
        }

        .bio h1 {
            font-size: 1rem;
            margin-top: 30px;
        }

        .bio h1 span {
            width: 3.7vw;
            margin-right: 3.7vw;
        }

        .image-profile {
            width: 100%;
            border-radius: 50%;
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;
        }

        .box-skill {
            font-size: 1rem;
        }
    }
}

.bio .list-bio li p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}



.bio .list-bio li .text-bio {
    display: flex;
    align-items: center;
}

.text-bio span {
    font-size: 0.7rem;
    border-radius: 2px;
    padding: 5px;
    background-color: var(--border);
}

.text-bio .text-bio-icon {
    height: 3rem;
    display: grid;
    place-items: center;
    width: 3rem;
    border-right: var(--border-width) solid var(--border);
    margin-right: 0.5rem;
    
}

.text-bio .text-bio-icon path {
    color: var(--button);
    fill: transparent;
    stroke: var(--button);
}

@media (max-width:767px) {
    .bio .list-bio li p {
        font-size: 1rem;
    }

    .text-bio i {
        font-size: 1rem;
    }
}

























.contents {
    top: 0;
    width: calc(80vw - 60px);
    height: calc(fit-content);
    position: relative;
    padding-bottom: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid var(--border);
    padding: 1rem;
    padding-bottom: 0;
    /* padding-inline: 30px 30px; */
}

.abouts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100%);
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    gap: 1rem;
    overflow: hidden;
    
}



:is( .title-swiper, .subtitle-feedback, .title-feedback) {
    padding-inline: 30px;
}

/* .abouts::after {
    content: '';
    width: 10px;
    height: 10px;
    outline: 2px solid rgba(255, 255, 255, 0.055);
    background-color: var(--primary);
    
    position: absolute;
    bottom: calc(0% + -11px);
    background-color: rgba(255, 255, 255, 0.055);
    padding: 5px;
    outline-offset: 2px;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
} */

.text-abouts {
    width: calc(100%);
    height: 100%;
    color: var(--button);
    border: var(--border-width) solid var(--border);
    border-radius: 1rem;
    background-color: var(--primary25);
    padding: 30px;
}

.text-abouts .title-about {
    font-size: 1rem;
    font-weight: 1000;
    margin-top: 15px;
    opacity: 1;
    text-transform: uppercase;
    font-family: var(--secondfont);
    color: var(--button);

}

.text-abouts .content-about {
    font-size: 1rem;
    width: 100%;
    flex: 1.5;
    line-height: 1.4;
    margin: 0;
    position: relative;
    color: var(--color-font-grey);
}
.content-about span {
    font-weight: 600;
    color: var(--button);
    opacity: 1 !important;
}

.text-abouts .content-carrier {
    font-size: 1rem;
    list-style: none;
    height: 75%;
    flex: 5;
    color: var(--button);
    line-height: 1.1;
    position: relative;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    outline: 2px;
    outline-color: var(--button);
    gap: 30px;
}

.content-carrier div {
    flex: 1;
        height: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
}

.text-abouts .content-carrier span {
        width: 1.25rem;
    aspect-ratio: 1/1;
    background: color-mix(
        in srgb,
        var(--button) 20%,
        transparent );
    border-radius: 5rem;
    font-size: 1rem;
    display: grid;
    color: var(--primary);
    place-items: center;
    margin-right: 1rem;
    position: relative;
    transition: 0.25s var(--cubic-toeng);
}

.content-carrier span::before {
    content: '';
    width: 0.5rem;
    aspect-ratio: 1/1;
    background-color: var(--blue);
    border-radius: 1rem;
    position: absolute;
    z-index: -1;
    /* opacity: 0.2; */
}

.content-carrier li {
    display: flex;
    width: fit-content;
    align-items: flex-start;
    flex-direction: column;
    gap: 10PX;
    background-color: var(--primary25);
    width: 100%;
    height: auto;
    position: relative;
}

.content-carrier li p {
    font-size: 1rem;
    transition: 0.25s var(--cubic-slow);
}

.content-carrier li p:nth-child(1) {
    color: var(--button);
}

.content-carrier li p:nth-child(2) {
    color: var(--color-font-grey);
}

.content-carrier li span {
    display: grid;
    place-items: center;
    width: 2rem;
    aspect-ratio: 1/1;
    background-color: var(--border);
    border-radius: 50%;
    border: var(--border-width) solid var(--border);
    z-index: 2;
    transition: 5s ;
}

.content-carrier li span .circle-crr {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: var(--button);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.indonesia-flag {
    height: 1rem;
    background: linear-gradient(180deg, red 50%, white 50%);
    border-radius: 0.2rem;
    outline: 4px solid var(--border);
    aspect-ratio: 3/2;
    display: inline-block;
    margin-inline: 0.2rem;
    transform: translateY(15%);
}

@media (min-width:1024px) {
    .text-abouts .content-carrier li:hover p:nth-child(1) {
        font-weight: 600;
    }

    .text-abouts .content-carrier li p {
        transition: 0.2s;

    }

    .text-abouts .content-carrier div:hover span {
        scale: 1.2;
        color: var(--primary);
        position: relative;
    }



    .text-abouts .content-carrier li:hover p {
        transform: translateX(6px);
    }
}



/* .content-carrier :is(li:nth-child(1), li:nth-child(2), li:nth-child(3)) span::after{
    content: '';
    width: 3px;
    height: 20px;
    z-index: 1;
    background-color: var(--border);
    position: absolute;
    bottom:calc(-100% - 2px);
} */

.content-carrier hr {
    height: 3vh;
    border-color: var(--button);
    opacity: 0.7;
    width: 0px;
    border-width: 1px;
    border-style: dashed;
    margin: 0;
    margin-right: auto;
    margin-left: calc(1rem);
}

:is(.sd, .smp, .smk, .kuliah) {
    background-color: rgba(255, 255, 255, 0.045);
    padding: 20px;
    background-position: right;
    border: var(--border-width) solid rgba(255, 255, 255, 0.055);
    border-radius: 0px;
    width: calc(100% - 40px);
    padding-block: 19px;
    margin-bottom: 5px;
    display: flex;
    place-items: center;
}


:is(.sd, .smp, .smk)::after {
    content: '';

    width: 80%;
    height: 60px;
    position: absolute;
    margin-bottom: 5px;
}

.line-carrier {
    width: 60%;
    height: 50px;
    background-color: var(--blue);
    position: absolute;

}

/* .text-abouts:nth-child(1) {
    padding-right: 20px;
}
.text-abouts:nth-child(2) {
    
} */

.highlight {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-style: dotted;
    text-decoration-thickness: 0.2px;
}

@media (max-width:1024px) {
    .section2 {
        font-family: var(--primaryfont);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
        position: relative;

    }

    .con-bio-title {
        display: flex;
        flex-direction: column;
    }

    .contents {
        top: 0;
        display: flex;
        flex-direction: column;
        width: calc(100% - 0px);
        height: fit-content;
        position: relative;
    }


    .con-sticky {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        border-right: 0px solid var(--border);
        padding-inline: 1rem;
    }

    .sticky {
        display: flex;
        height: fit-content;
        flex-direction: column;
        top: 1rem;
    }

    .sticky #namamu {
        font-size: 2rem;
        font-family: var(--secondfont);
        color: var(--button);
        display: inline-block;
        font-weight: 600;
        margin-block: 0.5rem;
        line-height: 1;
    }

    .sticky-header {
        justify-content: space-between;
    }

    .con-image-bio {
        width: 23vw;
    }

    .text-abouts {
        width: 100%;
        color: white;
    }

    .abouts {
        display: flex;
        width: calc(100% - 40px);
        flex-direction: column;
        width: 100%;
        height: min-content;
    }

    .contactme {
        margin-top: 30px;
    }

    @media (min-width:500px) {
        .abouts {
            display: flex;
            width: min-content;
            flex-direction: column;
            width: 100%;

        }
    }

    .text-abouts .title-about2 {
        margin-top: 30px;
    }

    .text-abouts .content-about {
        font-size: 1rem;
    }

    .text-abouts .content-carrier {
        font-size: 3.7vw;
        gap: 30px;
        height: 100%;
    }

    .content-carrier li span {
        width: 2rem;
        aspect-ratio: 1/1;
        margin: 0;
    }


}

@media (min-width:1480px) {
    .sticky-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .con-image-bio {
        width: 7vw;
    }
}