@import url(../App.css);

.section2 {
    font-family: var(--primaryfont);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width:100%;
    position: relative;
    align-items: stretch;
}

.con-star4 {
    z-index: 30;
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star4 {
    top: -30px;
    right: 10px;
}

.con-star5 {
    z-index: 30;
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star5 {
    top: 20%;
    right: 10px;
}

.con-star6 {
    z-index: 30;
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star6 {
    top: 95%;
    left: 10px;
}

.con-sticky {
    width: 20vw;
    height: auto;
    
    flex: 1;
    flex-shrink: 0;
    border-right: 1px solid var(--border);
}

.sticky {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    height: 100svh;
    overflow-x: hidden;
    flex-direction: column;
    background-color: transparent;
    top: 0;
}

.sticky-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid var(--border);
    position: relative;
    flex-direction: row-reverse;
}

.sticky-header .con-nama {
    background-color: red;
}

.sticky #namamu {
    font-family: var(--secondfont);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button);
    display: inline-block;
    flex: 1;
    margin: 0;
    font-size: 1.5em;
    width: fit-content;
    line-height: 1;
    letter-spacing: 1px;
}

.sticky #namamu span {
    opacity: 0.3;
}

.con-image-bio {
    width: 3.7vw;
    background: url(../assets/legosleep.jpg);
    aspect-ratio: 1/1;
    display: none;
    
    background-position: center;
    background-size: cover;
    border-radius: 0;
    place-items: center;
    position: relative;
}

.image-profile {
    background: url(../assets/84cdd9d2-8c16-4371-82f6-d1cd9d8c8ef9.jpeg);
    filter: grayscale(0%);
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    position: relative;
    background-position: top;
    background-size: contain;
    object-position: center;
    overflow: hidden;
    z-index: 2;
    object-fit: cover;

}


.bio {
    width: calc(100%);
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    justify-content: space-around;
    margin-block: 30px 0px;
    color: white;
    height: fit-content;
    z-index: 2;
    padding-inline: 30px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    align-items: stretch;
    justify-content: flex-start;
    max-height: 20vh;
}

.mySkills {
    flex: 1;
    flex-grow: 1;
}


.box-skill {
    width: fit-content;
    height: fit-content;
    font-size: 0.8em;
    border: 0.5px solid var(--border);
    padding-inline: 0.8em;
    padding-block: 0.5em;
    color: var(--button);
    font-weight: 500;
    filter: grayscale(60%);
    font-weight: 400;
    text-transform: capitalize;

}

.con-hire-me {
    width: 100%;
    display: flex;
    /* display: none; */
    height: 62px;
    position: absolute;
    bottom: 0;
    gap: 10px;
}



.con-hire-me a {
    height: 100%;
}

@media (max-width:767px) {
    .con-hire-me {
        height: 62px;
        position: relative;
        bottom: 0;
        margin-top: 30px;
    }

    .con-hire-me a {
        margin: 0;
    }
}

.contactme {
    color: var(--button);
    font-family: var(--secondfont);
    width: 100%;
    height: 62px;
    font-size: 1em;
    background-color: var(--primary);
    display: grid;
    place-items: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.con-hire-me:hover .contactme {
    color: var(--primary);
    background-color: var(--blue);
}

.bio h1 {
    font-size: 1em;
    font-weight: 800;
    margin-block: 5px 15px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: var(--button);
    text-transform: uppercase;
    font-family: var(--secondfont);
}

.skills-ttl {
    margin-block: 0px 45px;
}

.bio h1 span {
    font-size: 1em;
    color: var(--red-cl);
    display: inline-block;
    margin-left: 0.2em;
}



.list-bio {
    list-style: none;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:10px;
    margin-bottom: 0;
    margin-top: 0px;
}

.title-bio i {
    font-size: 1em;
}

.bio .list-bio li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-inline: 1px solid var(--border);
    border-top: 1px solid var(--border);
    color: var(--button);
    overflow: hidden;
}

.bio .list-bio li:nth-last-child(1) {
    border-bottom: 1px solid var(--border);
}

@media (max-width:1083px) {
    .bio .list-bio li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-inline: 1px solid var(--border);
    }
    
    @media (max-width:767px) {


        .sticky-header {
            margin-bottom: 0;
        }

        .bio {
            margin: 0;
        }

        .bio .list-bio li {
            flex-direction: row;
        }
        .bio h1 {
            font-size: 1em;
            margin-top: 30px;
        }

        .bio h1 span {
            width: 3.7vw;
            margin-right: 3.7vw;
        }
        .image-profile {
            width: 100%;
            border-radius: 50%;
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;       }
        
        .box-skill {
            font-size: 0.8em;
        }
    }
}

.bio .list-bio li p {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}



.bio .list-bio li .text-bio {
    display: flex;
    align-items: center;
}

.text-bio i {
    display: grid;
    place-items: center;
    width: fit-content;
    padding: 0.8em;
    aspect-ratio: 1/1;
    font-size: 0.8em;
    color: var(--button);
    border-right: 1px solid var(--border);
    margin-right: 10px;
}

@media (max-width:767px) {
    .bio .list-bio li p {
        font-size: 0.8em;
    }

    .text-bio i {
        font-size: 0.8em;
    }
}

























.contents {
    top: 0;
    width: calc(80vw - 60px);
    height: calc(fit-content);
    position: relative;
    /* padding-inline: 30px 30px; */
}

.abouts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100%);
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    padding-top: 30px;
    gap: 30px;
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.055);
}

:is(.abouts, .title-swiper, .subtitle-feedback, .title-feedback) {
    padding-inline: 30px;
}

/* .abouts::after {
    content: '';
    width: 10px;
    height: 10px;
    outline: 2px solid rgba(255, 255, 255, 0.055);
    background-color: var(--primary);
    
    position: absolute;
    bottom: calc(0% + -11px);
    background-color: rgba(255, 255, 255, 0.055);
    padding: 5px;
    outline-offset: 2px;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
} */

.text-abouts {
    width: calc(100% - 30px);
    height: 100%;
    color: white;
}

.text-abouts .title-about {
    font-size: 1em;
    font-weight: 600;
    margin-top: 15px;
    opacity: 1;
    text-transform: uppercase;
    font-family: var(--secondfont);
    color: var(--button);
}

.text-abouts .content-about {
    font-size: 0.8em;
    width: 100%;
    line-height: 1.4;
    margin: 0;
    opacity: 0.9;
    position: relative;
    color: var(--button);
}

.text-abouts .content-carrier {
    font-size: 0.8em;
    list-style: none;
    height: 75%;
    color: var(--button);
    line-height: 1.1;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    outline: 2px;
    outline-color: var(--button);
}


.content-carrier li {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10PX;
    position: relative;
}

.content-carrier li span {
    display: grid;
    place-items: center;
    width: 2vw;
    aspect-ratio: 1/1;
    background-color: var(--border);
    border-radius: 50%;
    border: 1px solid var(--border);
    opacity: 1 !important;
    z-index: 2;
}

.content-carrier li span .circle-crr {
    width: 0.8vw;
    aspect-ratio: 1/1;
    background-color: var(--button);
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (min-width:1024px) {
    .text-abouts .content-carrier li:hover span .circle-crr {
        width: 1.5vw;
        background-color: var(--blue) ;
    }

    .text-abouts .content-carrier li p {
        transition: 0.2s;
        
    }

    .text-abouts .content-carrier li:hover p {
        transform: translateX(6px);
    }

        .skills {
            gap: 0.3em;
        }
        
}
.content-carrier li p {
    opacity: 0.9;
}

/* .content-carrier :is(li:nth-child(1), li:nth-child(2), li:nth-child(3)) span::after{
    content: '';
    width: 3px;
    height: 20px;
    z-index: 1;
    background-color: var(--border);
    position: absolute;
    bottom:calc(-100% - 2px);
} */

.content-carrier hr {
    height: 3vh;
    border-color: var(--button);
    opacity: 0.7;
    width: 0px;
    border-width: 1px;
    border-style: dashed;
    margin: 0;
    margin-right: auto;
    margin-left: calc(1vw - 1px);
}

:is(.sd, .smp, .smk, .kuliah) {
    background-color: rgba(255, 255, 255, 0.045);
    padding: 20px;
    background-position: right;
    border: 2px solid rgba(255, 255, 255, 0.055);
    border-radius: 0px;
    width: calc(100% - 40px);
    padding-block: 19px;
    margin-bottom: 5px;
    display: flex;
    place-items: center;
}


:is(.sd, .smp, .smk)::after {
    content: '';
    
    width: 80%;
    height: 60px;
    position: absolute;
    margin-bottom: 5px;
}

.line-carrier {
    width: 60%;
    height: 50px;
    background-color:var(--blue);
    position: absolute;

}

/* .text-abouts:nth-child(1) {
    padding-right: 20px;
}
.text-abouts:nth-child(2) {
    
} */

.highlight {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-style: dotted;
    text-decoration-thickness: 0.2px;
}

@media (max-width:767px) {
    .section2 {
        font-family: var(--primaryfont);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
        position: relative;

    }

    .con-bio-title {
        display: flex;
        flex-direction: column;
    }

    .contents {
        top: 0;
        display: flex;
        flex-direction: column;
        width: calc(100% - 0px);
        padding-top: 30px;
        height: fit-content;
        position: relative;
    }


    .con-sticky {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        border-right: 0px solid var(--border);
    }

    .sticky {
        display: flex;
        height: min-content;
        flex-direction: column;
        top: 0;
    }

    .sticky #namamu {
        font-size: 2em;
        font-family: var(--secondfont);
        color: var(--button);
        display: inline-block;
        font-weight: 600;
        margin-block: 0.5em;
        line-height: 1;   
    }

    .sticky-header {
        justify-content: space-between;
    }

    .con-image-bio {
        width: 23vw;
    }

    .text-abouts {
        width: 100%;
        color: white;
    }

    .abouts {
        display: flex;
        width: calc(100% - 40px);
        flex-direction: column;
        padding-top: 0px;
        width: 100%;
        height: min-content;
    }

    .contactme {
        margin-top: 30px;
        border-bottom: 1px solid var(--border);
    }

    @media (min-width:500px) {
        .abouts {
            display: flex;
            width: min-content;
            flex-direction: row;
            width: 100%;
        }
    }

    .text-abouts .title-about2 {
        margin-top: 30px;
    }

    .text-abouts .content-about {
        font-size: 0.8em;
    }

    .text-abouts .content-carrier {
        font-size: 3.7vw;
        gap: 10px;
        height: 100%;
    }

    .content-carrier li span {
        width: 6vw;
        aspect-ratio: 1/1;
        margin: 0;
    }

    .content-carrier li span .circle-crr {
        width: 3vw;
        aspect-ratio: 1/1;
    }

    .content-carrier hr {
        margin-left: calc(3vw - 1px);
    }

    
}

@media (min-width:1480px) {
    .sticky-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .con-image-bio {
        width: 7vw;
    }
}