.feedback {
    height: fit-content;
    border-radius: 1rem;
    border: var(--border-width) solid var(--border);
    overflow: hidden;
}

.title-feedback {
    color: var(--button);
    font-weight: 800;
    font-size: 3rem;
    font-family: var(--secondfont);
    padding: 0;
    margin: 0;
}

.subtitle-feedback {
    font-size: 1rem;
    font-weight: 200;
    opacity: 0.7;
    line-height: 1;
    color: var(--button);
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

/* Swiper Container Styles */
.swiper-container {
    position: relative;
    width: 100%;
    height: fit-content;
}

.feedback-swiper {
    width: 100%;
    height: fit-content;
}

.feedback-swiper .swiper-slide {
    padding: 0;
    border: none;
}

.swiper-slide-content {
    height: 100%;
    min-height: 300px;
}

.con-swiper-button-fb {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border-top: var(--border-width) solid var(--border);
}

.next-fb,
.prev-fb {
    width: fit-content;
    min-width: 100px;
    right: 0;
    display: grid;
    place-items: center;
    font-family: var(--secondfont);
    color: var(--button);
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-inline: 30px;
}

.prev-fb {
    border-right: var(--border-width) solid var(--border);
}

.next-fb {
    border-left: var(--border-width) solid var(--border);
}

@media (max-width:767px) {
    .swiper-pagination-custom {
        width: 30vw;
    }

    .swiper-pagination-custom .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
    }

    .con-swiper-button-fb {
        gap: var(--border-width);
        background-color: var(--border);
        padding-top: var(--border-width);
        border: none;
    }

    .next-fb,
    .prev-fb {
        width: 100%;
        background-color: var(--primary);
        padding-inline: 30px;
        border-inline: none;

    }
}

/* User Feedback Card Styles */
.user-feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(fit-content + 20px);
    min-height: 380px;
    transition: 0.2s, background 0s;
    overflow: hidden;
    position: relative;
}

.con-btm-fd {
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
}

.con-userfeedback {
    display: block;
    padding-top: 45px;
    flex-grow: 1;
    overflow: hidden;
}

.con-feedback-btm {
    padding: 0;
    display: flex;
    width: fit-content;
    align-items: stretch;
    justify-content: stretch;
    height: fit-content;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 0.5rem;
    /* border: 1px solid var(--border); */
}

.user-feedback p {
    margin: 0;
    padding: 0;
}

.user-feedback .fromuser {
    font-size: 0.7rem;
    color: var(--button);
    margin-right: 5px;
    text-transform: lowercase;
    opacity: 0.6;
}

.user-feedback .username {
    font-size: 1.5rem;
    display: flex;
    text-transform: uppercase;
    color: var(--button);
    font-family: var(--secondfont);
    font-weight: 800;
    width: 100%;
}

.con-usertext {
    width: 100%;
    height: max-content;
    padding-block: 10px;
}

.con-username {
    display: flex;
    flex-direction: column;
}

.user-feedback .usertext {
    font-size: 1rem;
    width: 100%;
    color: var(--button);
    line-height: 1.1;
    margin: 0;
    padding-left: 25px;
    width: calc(100% - 25px);
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

.user-feedback .userrating {
    display: grid;
    place-items: center;
    padding: 0.7rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: var(--border-width) solid var(--border);
    background: var(--border);

}

:is(.rating-1, .rating-2, .rating-3, .rating-4, .rating-5) {
    border-radius: 0.25rem;
}

.user-feedback .userrating .rating-1 {
    width: 0.9rem;
    aspect-ratio: 1 / 1;
    background-color: var(--red-cl);

}

.user-feedback .userrating .rating-2 {
    width: 0.9rem;
    aspect-ratio: 1 / 1;
    background-color: var(--orange-cl);
}

.user-feedback .userrating .rating-3 {
    width: 0.9rem;
    aspect-ratio: 1 / 1;
    background-color: var(--yellow-cl);
}

.user-feedback .userrating .rating-4 {
    width: 0.9rem;
    aspect-ratio: 1 / 1;
    background-color: var(--lime-cl);
}

.user-feedback .userrating .rating-5 {
    width: 0.9rem;
    aspect-ratio: 1 / 1;
    background-color: var(--green-cl);
}


.user-feedback .userdate {
    font-size: 0.8em;
    position: relative;
    display: inline-block;
    font-family: var(--secondfont);
    background-color: var(--primary);
    opacity: 1;
    font-weight: 600;
    display: grid;
    place-items: center;
    padding-inline: 10px;
    width: max-content;
    color: var(--button);
    border: var(--border-width) solid var(--border);
    border-radius: 0 0.5rem 0.5rem 0;
}

.feedback-quote {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--grey);
}

.username {
    transition: 0.3s;
}

.usertext {
    transition: 0.3s;
}

/* Link Styles */
.link-to-addfeedback {
    color: var(--button);
    font-family: var(--secondfont);
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    background-color: var(--primary);
    text-transform: uppercase;
    overflow: hidden;
    gap: 10px;
    font-size: 1rem;
    border: none;
    border-top: var(--border-width) solid var(--border);
    transition: 0.5s var(--cubic-toeng);
}

.link-to-addfeedback:hover {
    color: var(--blue);
}

.link-to-addfeedback svg {
    width: fit-content;
    height: 1.5rem;
}

.link-to-addfeedback svg path {
    color: rgb(from var(--blue) r g b / 0.5);
}

.link-to-addfeedback-title1 {
    color: var(--blue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
}

.loading-feedback {
    color: var(--button);
    width: 100%;
    height: 50svh;
    display: grid;
    place-items: center;
}

.error-title {
    font-size: 1rem;
    width: 100%;
    height: 50svh;
    padding-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-title .error-sub {
    color: var(--button);
    font-family: var(--secondfont);
    font-size: 1rem;
    font-weight: 800;
    max-width: 80%;
    margin-block: 15px;
}

.error-title svg {
    width: 13vw;
    height: fit-content;
}

.error-title svg path {
    animation: alertyo 1.8s linear infinite;
    fill: var(--button);
}

.error-fetch {
    border: var(--border-width) solid var(--border);
    background-color: transparent;
    font-family: var(--primaryfont);
    padding: 10px 20px 10px 20px;
    color: var(--button);
    font-size: 0.8rem;
}

@media (max-width:767px) {
    .error-title svg {
        width: 33vw;
    }

    .error-title .error-sub {
        color: var(--button);
        font-family: var(--secondfont);
        font-size: 1rem;
        max-width: 80%;
        text-align: center;
        margin-block: 15px;
    }

    .error-fetch {
        font-size: 0.8em;
    }
}

/* Desktop Hover Effects */
@media (min-width: 768px) {

    .user-feedback:hover .feedback-quote {
        color: var(--button);
    }
}

/* Mobile Responsive */
@media (max-width: 767px) {
    .title-feedback {
        padding: 0;
    }

    .user-feedback {
        min-height: 360px;
    }

    .con-userfeedback {
        padding: 30px;
        border: none;
        min-height: 250px;
    }

    .con-btm-fd {
        padding-bottom: 0px;
    }

    .con-userfeedback .username {
        transition: 0.3s;
        width: 100%;
    }

    .con-userfeedback .fromuser {
        color: var(--color-grey-font);
        width: 18px;
        margin-right: 10px;
        text-transform: lowercase;
    }

    .con-userfeedback .usertext {
        width: calc(100%);
        font-size: 1rem;
        padding-left: 5px;
        text-align: left;
    }

    .con-feedback-btm {
        padding: 0;
        display: flex;
        width: fit-content;
        align-items: stretch;
        justify-content: stretch;
        height: fit-content;
        overflow: hidden;
    }

    .user-feedback .userdate {
        font-size: 1rem;
    }

    .user-feedback .userrating {
        font-size: 1rem;
    }

    .swiper-button-prev-custom,
    .swiper-button-next-custom {
        display: none;
    }
}