@import url(../App.css);

.section {
    font-family: var(--primaryfont);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.navigation {
    height: 4rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--button);
    font-family: var(--primaryfont);
}

.navigation .con-path-name {
    z-index: 9999;
    position: relative;
    gap: 1rem;
}



.navigation .path-name {
    padding: 0.5rem;
    width: fit-content;
    background-color: var(--border);
    border-radius: 0.5rem;
    display: block;
    font-weight: 400;
}

.navigation .path-name span {
    height: fit-content;
}

.navigation .path-name i {
    height: fit-content;
    display: grid;
    place-items: center;
    transition: 0.25s var(--cubic-slow);
}

.navigation .path-name p {
    color: var(--button);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.navigation .path-name .fi.open {
    rotate: 180deg;
}
.navigation .path-name .fi.close {
    rotate: 0deg;
}

.other-path-name {
    transition: 0.5s;
    bottom: calc(-100% + -0.5rem);
    width: 100%;
}

.navigation .switch-theme p i {
    font-size: 1rem;
}

.navigation .other-path-name.open {
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    
    height: 100%;
    padding-inline: 0.5rem;
    color: var(--button);
}
.navigation .other-path-name.close {
    opacity: 0;
    pointer-events: none;
    height: 0%;
    position: absolute;
    bottom: calc(-0% + -0.5rem);
}

.menuLinkOption {
    display: flex;
    flex-direction: row;
    position: relative;
    /* top: 86px;
    left: 50%; */
    /* transform: translateX(-50%); */
    background-color: var(--border);
    color: var(--button);
    border-radius: 1/1;
    padding-block: 0.5rem;
    gap: 1rem;
    transition: 0.5s, width 0.5s;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 0%;
    max-width: fit-content;
}

.menuLinkOption a {
    color: var(--button);
}

.bgImage-INT {
    width: 100%;
    position: absolute;
    display: none;
    
}

.text {
    position: relative;
    height: calc(100% - 4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
    gap: 1rem;
    padding: 0rem 1rem 0 1rem;
}

.hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    border-radius: 1rem;
    border: var(--border-width) solid var(--border);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    /* background: url(../assets/ordosocialist_eurasia_flag_by_neobolshevik_dhfr6jm.png);
    background-size: cover;
    background-position: center; */
}

.hero .image-logo {
    z-index: -1;
}

.hero .image-logo svg {
    width: 30%;
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    height: fit-content;
    left: 50%;
    z-index: 9;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media (max-width:767px) {
    .hero .image-logo svg {
        width: calc(100% - 60px);
    }
}

.hero svg path {
    fill: var(--border);
    stroke: var(--border);
    stroke-width: 4px;
    /* animation: brokenLamp 3s linear infinite; */
}

@keyframes brokenLamp {
    0% {
        opacity: 0.12;
        transform: scale(1);
    }  36% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.12;
    }
}

.hero .hero-1, .hero-2 {
    font-family: var(--primaryfont);
    color: var(--color-font-grey);
    /* text-transform: uppercase; */
}

.hero .hero-1 {
    align-self: flex-start;
    overflow: hidden;
}

.hero span {
    color: var(--button);
}

.hero .hero-1 svg {
    position: relative;
    width: 1.6rem;
}

.hero .hero-1 svg path {
    fill: var(--button) !important;
    opacity: 1 !important;
}

.hero .hero-2 {
    align-self: flex-end;
}

.hero .hero-2 button {
    font-size: 1rem;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 5rem;
    background: var(--border);
    color: var(--button);
    margin-top: 1rem;
}

.hero .hero-2 button svg {
    rotate: 180deg;
}

.hero .hero-2 button svg path {
    fill: var(--button);
}

.hero .hero-1{
    text-align: right;
}

.hero p {
    font-size: 2rem;
    font-weight: 800;
    opacity: 0.3;
}

.hero h1 {
    font-size: 1.5rem;
    margin: 0;
} 

@media (max-width:1024px) {
    .hero {
        flex-direction: column;
        padding-inline: 0;
    }

    .hero .hero-1 {
        align-self: flex-end;
        width: 80%;
    }

    .hero p {
        font-size: 2rem;
        font-weight: 800;
        opacity: 0.3;
    }

    .hero .hero-1 svg {
        width: 3vw;
    }

    .hero .hero-2 {
        align-self: flex-start;
    }

    .hero h1 {
        font-size: 3rem;
    }
}

@media (max-width:767px) {
    .hero {
        flex-direction: column;
        padding-inline: 30px;
    }

    .hero .hero-1 {
        align-self: flex-end;
        width: 100%;
    }

    .hero p {
        font-size: 1.5rem;
        font-weight: 800;
        opacity: 0.3;
    }

    .hero .hero-1 svg {
        width: 1.1rem;
    }

    .hero .hero-2 {
        align-self: flex-start;
    }

    .hero h1 {
        font-size: 1rem;
    }
}

.text p {
    margin: 0;
    font-family: var(--secondfont);
}

.header-int {
    width: 100%;
    display: grid;
    place-items: end;
    padding-inline: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

.text .revealed, .currndate {
    font-size: 1rem;
    letter-spacing: 1;
    color: var(--button);
    font-family: var(--secondfont);
    display: flex;
    align-items: flex-start;
    font-weight: 800;
    flex-direction: column;
}

.header-int span{
    color: var(--color-font-grey);
}

.text .explore {
    height: 9vh;
    overflow: hidden;
    display: inline-block;
    aspect-ratio: 1 / 1;
    padding-inline: 3px;
}

.text .explore svg {
    width: 100%;
}

.text .explore svg path {
    fill: var(--button);
    /* stroke: var(--button);
    stroke-width: 5px; */
}

.text .andText {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--button);
    color: transparent;
}

.text .AnimatedContent2 {
    width: 100%;
}

/* .text p:nth-child(2) {
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: var(--button);
    font-size: clamp(1rem, 4vw, 6rem);
    color: var(--button);
    font-weight: 800;
    padding-inline: 30px;
    line-height: 0.8;
} */

.con-image {
    position: absolute;
    bottom: 0;
}

.con-image-introduction {
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.arrow-to-sc2 {
    bottom: calc(30px);
    right: calc(1rem + 30px);
    z-index: 3;
    width: 10%;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    display: grid;
    background: var(--radial-grad);
    position: absolute;
    z-index: 4;
    border: none;
    border-radius: 1rem;
    place-items: center;
    display: none;
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%); */
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: var(--border-width) solid var(--border);
}

.arrow-to-sc2 svg {
    width: 35%;
    transition: 0.2s;
}

.arrow-to-sc2 svg path {
    fill: var(--button);
}

.arrow-to-sc2:hover {
    transform: translateY(5%);
}

.arrow-to-sc2:hover svg {
    width: 50%;
}

@media (max-width:767px) {
    .arrow-to-sc2 {
        width: 23vw;
    }
}

.arrow-intro {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--blue);
    box-shadow: 0px 3px 20px 0px var(--blue);
    border-radius: 50%;
    transition: 0.1s;
    display: grid;
    place-items: center;
}

.arrow-intro:active {
    scale: 0.8;
}

@media (max-width:767px) {
    .section {
        justify-content: start;
        align-items: start;
        height: calc(100svh);
        border-width: 1px;
        object-fit: cover;
        object-position: center;
    }

    .bgImage-INT {
        height: 100%;
        width: fit-content;
    }

    .text {
        margin-top: 0;
    }

    .text p {
        margin: 0;
    }

    .text .explore {
        height: 3.5vh;
    }

    .text .andText {
        -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: var(--button);
            color: transparent;
    }

    .con-image {
        position: absolute;
        bottom: 0;
        width: calc(100%);
        display: grid;
        place-items: center;
    }

    .image {}

    .con-star1 {
        left: 2%;
        bottom: 30px;
    }

    .star1 {
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    }

    .con-star2 {
        top: 25%;
        right: 20%;
        width: 20px;
        animation-duration: 3s;
        fill: var(--button);
    }

    .con-star3 {
        top: 5%;
        left: 30%;
        width: 20px;
        animation-duration: 2.5s;
    }

    .star3 {
        fill: var(--button);
    }
}