@import url(../App.css);

html,
body {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.navigation {
    width: calc(100%);
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 57px;
    top: 0;
    position: relative;
    z-index: 100;
    padding-inline: 30px;
    font-family: var(--primaryfont);
}

#logoMenuIcon {
    width: 1.5vw;
    aspect-ratio: 1 / 1;
}


.menu-button {
    display: none;
}

.navigasi-menu {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 30px;
    transition: 0.5s;
    margin-top: 0px;
    margin: 0;
}

.navigasi-menu li {
    font-size: 0.6em;
    margin-block: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 104px;
    width: 100%;
    border-bottom: 1px solid var(--border);
    transition: 0.2s;
}

.navigasi-menu li a .arrow {
    width: 12px;
    margin-bottom: 5px;
    display: grid;
    place-items: center;
}

.navigasi-menu li a .arrow svg {
    width: 100%;
}

.navigasi-menu:hover li {
    opacity: 0.5;

}



.navigasi-menu:hover li:hover {
    opacity: 1;
    background-color: var(--border);
}

.navigasi-menu li a {
    display: flex;
    justify-content: space-between;
    color: var(--button);
    align-items: center;
    min-width: 104px;
    width: 100%;
}



.theme {
    background-color: transparent;
    color: var(--primary);
    font-weight: 800;
    font-size: 0.8em;
    width: 40px;
    height: 20px;
    display: grid;
    place-items: center;
    transition: 0.3s;
    border: 1px solid var(--border);
    background-color: var(--border);
    cursor: pointer;
    transition: 0.5s;
    position: relative;

}

.theme:active {
    scale: 0.6;
}

.theme:active::after {
    scale: 1.6;
}

.theme2 {
    display: none;
    visibility: hidden;
}

.theme i {
    transform: translateY(1px);
}

#swchbtn1,
#swchbtn2 {
    background-color: var(--button);
    height: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    transition: 0.3s;
    left: calc(0%);
    display: grid;
    place-items: center;
}

#swchbtn1.switchTheme,
#swchbtn2.switchTheme {
    left: calc(50%);
}

.theme::after {
    content: "Light Mode?";
    font-family: var(--primaryfont);
    color: var(--button);
    position: absolute;
    box-sizing: border-box;
    border: 1px solid var(--border);
    width: max-content;
    padding: 1px 5px;
    display: inline;
    right: 150%;
    transition: 0s;
    transition-delay: 0.2s;
}

.theme.switchTheme::after {
    content: "Dark Mode?";

}

.contact:hover {
    scale: 0.9;
    outline-offset: 0.5em;
    outline: 1px solid var(--button);
}


/* #thecontent::before {
    content: '';
    width: 100%;
    position: fixed;
    height: 87px;
    background-color: transparent;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.473) 20%, rgba(255, 0, 0, 0) 100%);
    top: 0;
    z-index: 99;
 } */

.close {
    display: none;
}

.navigasi-menu h1 {
    display: none;
}

@media (max-width:767px) {
    .navigation {
        box-sizing: border-box;
        width: calc(100%);
        height: min-content;
        display: flex;
        flex-direction: column;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: rgba(10, 10, 10, 0);
        /* backdrop-filter: blur(10px); */
        align-items: center;
        color: white;
        height: 57px;
        /* position: fixed; */
        top: 0px;
        z-index: 100;
        padding-inline: 30px;
        font-family: var(--primaryfont);
    }

    .navigasi-menu h1 {
        display: block;
        padding-top: 30px;
    }

    .theme {
        background-color: transparent;
        color: var(--primary);
        font-weight: 800;
        font-size: o.8em;
        width: 40px;
        height: 20px;
        display: grid;
        place-items: center;
        transition: 0.3s;
        border: 1px solid var(--border);
        background-color: var(--border);
        cursor: pointer;
        transition: 0.5s;
        position: relative;

    }

    .theme::after {
        content: "switch to light mode?";
        font-family: var(--primaryfont);
        color: var(--button);
        position: absolute;
        box-sizing: border-box;
        border: 1px solid var(--border);
        width: max-content;
        padding: 1px 5px;
        display: inline;
        left: 150%;
        transition: 0s;
    }

    .theme.switchTheme::after {
        content: "switch to dark mode?";
    }

    .theme:active {
        scale: 1;
    }

    .theme:active::after {
        scale: 1;
    }

    .theme1 {
        display: none;
    }

    .theme2 {

        display: grid;
        visibility: visible;
    }

    .theme i {
        transform: translateY(1px);
    }

    #swchbtn {
        background-color: var(--button);
        height: 20px;
        aspect-ratio: 1/1;
        position: absolute;
        transition: 0.3s;
        left: calc(0%);
        display: grid;
        place-items: center;
    }

    #swchbtn.switchTheme {
        left: calc(50%);
    }

    .section {
        margin-top: 0px;
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50px;
        aspect-ratio: 1/1;
        color: var(--button);
    }

    .close .menu-button {
        justify-content: center;
    }

    .menu-button svg {
        width: 35%;
    }

    .menu-button i {
        font-size: 1em;
        transform: translateY(3px);
    }

    .contact {
        display: none;
    }

    .navigasi-menu {
        list-style: none;
        padding: 0px;
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        width: calc(100%);
        height: fit-content;
        background-color: var(--primary);
        padding-top: 87px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--border);
        top: -100%;
        left: 0;
        z-index: 100;
        transition: top 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }


    .navigasi-menu.open {
        top: 0%;
    }

    .navigasi-menu li {
        font-size: 1em;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--border);
    }

    .navigasi-menu h1 {
        font-family: var(--secondfont);
        color: var(--button);
        font-weight: 800;
        font-size: 2.3em;
        display: block;
        margin: 0;
        padding-block: 20px;
    }

    .close {
        display: grid;
        place-items: center;
        color: var(--button);
        top: -100%;
        left: 0;
        width: 100%;
        position: fixed;
        z-index: 101;
        background-color: var(--primary);
        height: 86px;
        transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-delay: 0.4s;
        border-bottom: 1px solid var(--border);
    }


    .close svg {
        width: 35%;
    }

    .close.open {
        top: 0;
        transition: top 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

        transition-delay: 0.2s;
    }

    #thecontent,
    #theblog {
        transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        opacity: 1;

    }

    #thecontent.open,
    #theblog.open {
        opacity: 0.2;
        filter: grayscale(100%) brightness(50%);
        transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    #logoMenuIcon {
        width: 6vw;
        aspect-ratio: 1 / 1;
    }

    :is(#logoMenuIcon, #expandMenuIcon) {
        transition: 0.5s;
        height: 30px;
        display: flex;
        align-items: center;
    }

    :is(#logoMenuIcon, #expandMenuIcon).open {
        transform: translateY(-500%);
    }

}