    .wrapper-components-home {
        font-family: var(--primaryfont);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: fit-content;
        width: 100%;
        position: relative;
        align-items: stretch;
        gap: 1rem;
        padding-inline: 1rem;
    }

    .wrapper-componen-vertical {
        top: 0;
        width: calc(70vw);
        height: calc(fit-content);
        position: relative;
        padding-bottom: 0;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 1px solid var(--border);
        padding-bottom: 0;
    }
    
    @media (max-width:1024px) {
        .wrapper-components-home {
            flex-direction: column;
        }

        .wrapper-componen-vertical {
            width: 100%;
        }
    }
