.body-home {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media (min-width:1024px) {
    #thecontent {
        filter: blur(0px);
        transition: opacity 1.8s, filter 0.5s;
    }
    
    #thenav:hover~#thecontent {
        opacity: 0.5;  
        filter: blur(3px);
    }
}